/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 HTML and body styling
    2 General elements
        2.1 Tags
        2.2 Titles
        2.3 Separators
    3 Reusable sections
        3.1 Header
        3.2 Cookie consent
    4 Specific sections
        4.1 Home page
            4.1.1 Introduction section
            4.1.2 About me section
            4.1.3 Recent projects
        4.2 School page
            4.2.1 Projects list
    5 Useless elements
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: #F4F4F9;
  color: #273E47;
  font-family: "Poppins", sans-serif;
}

h6 {
  position: relative;
  left: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
h6::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.75rem;
  left: -20px;
  width: 15px;
  border-top: 1px solid #273E47;
}

h1 {
  margin: 0;
}

hr {
  width: 8ch;
  border: none;
  border-top: 1px solid rgba(39, 62, 71, 0.6);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.15ch;
  text-transform: uppercase;
}
#header div {
  opacity: 0;
  gap: 5ch;
  transform: translateX(3rem);
  transition: 200ms ease, transform 1s cubic-bezier(0.24, -0.95, 1, 0.42);
}
#header div.visible {
  opacity: 1;
  transform: none;
  transition: 200ms ease;
}
#header a {
  color: #273E47;
  text-decoration: none;
  transition: 100ms ease;
  cursor: pointer;
}
#header span {
  display: flex;
  cursor: pointer;
}
#header span svg {
  height: 2rem;
  fill: #273E47;
}
#header .highlighted {
  color: #3BA3A1;
  font-weight: 900;
}

#cookie {
  display: flex;
  gap: 1rem;
  margin: 0;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  transition: 300ms ease;
}
#cookie p {
  margin: 0;
}
#cookie #cookie-checkmark {
  width: 2rem;
  stroke: #273E47;
  cursor: pointer;
}

#introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  max-width: 75rem;
  margin-top: 3rem;
}
#introduction #introduction-paragraph {
  width: 40ch;
}
#introduction #introduction-paragraph #about-me-button {
  padding: 0.6em 1.3em;
  background: #3BA3A1;
  color: #F4F4F9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
#introduction #introduction-paragraph a + h6 {
  margin-top: 3rem;
  color: rgba(39, 62, 71, 0.4);
}
#introduction #introduction-paragraph a + h6::before {
  border-color: rgba(39, 62, 71, 0.4);
}
#introduction #introduction-paragraph #social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
#introduction #introduction-paragraph #social-icons a {
  display: flex;
  height: 2.3rem;
  aspect-ratio: 1;
  fill: rgba(59, 163, 161, 0.4);
}
#introduction #introduction-paragraph #social-icons a#social-youtube #cutout {
  fill: #F4F4F9;
}
#introduction #introduction-paragraph #social-icons a#social-graphide {
  stroke: rgba(59, 163, 161, 0.4);
}
#introduction img {
  width: 50ch;
}
@media (max-width: 50rem) {
  #introduction {
    flex-direction: column;
  }
}

#about-me {
  padding: 2ch;
  max-width: 70ch;
  text-align: center;
}

#recent-projects {
  align-self: flex-start;
}
#recent-projects > h2 {
  width: 100vw;
  text-align: center;
}
#recent-projects > div {
  display: grid;
}
#recent-projects > div > h2 {
  width: 100vw;
  padding-right: 2rem;
  grid-column: 1;
  grid-row: 1;
  color: rgba(244, 244, 249, 0.8);
  text-align: right;
  box-sizing: border-box;
  text-shadow: rgba(39, 62, 71, 0.3) 0 0 1rem;
}
#recent-projects > div .cycle {
  display: flex;
  position: relative;
  left: 0;
  min-height: 25rem;
  grid-column: 1;
  grid-row: 1;
  transition: 500ms ease;
}
#recent-projects > div .cycle div {
  position: relative;
  width: 100vw;
  overflow: hidden;
  color: #F4F4F9;
  text-shadow: #273E47 0 0 1rem;
}
#recent-projects > div .cycle div img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
  filter: brightness(0.5);
}
#recent-projects > div .cycle div div {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  box-sizing: border-box;
}
#recent-projects > div .cycle div div .date, #recent-projects > div .cycle div div .subject {
  opacity: 0.5;
}
#recent-projects #personal-projects {
  text-align: right;
}

#projects-list {
  padding: 4rem;
  text-align: center;
}
#projects-list h1 {
  font-size: 5rem;
  cursor: pointer;
}
#projects-list p {
  font-size: 1.5rem;
  display: none;
}

#header .useless,
.useless > * > * {
  fill: none;
  cursor: unset;
}

/*# sourceMappingURL=/main.css.map */