/* STYLESHEET TABLE OF CONTENTS
    1 Imports
        1.1 Variables
        1.2 Fonts
    2 General styling
    3 Tailwind
    4 Utility classes
    5 Special tag changes
 */

// 1.1 Variables
@use "_variables.scss";

// 1.2 Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// 2 General styling
html
{
    scroll-behavior: smooth;
}

body
{
    background: variables.$light;
    color: variables.$dark;
    font-family: 'Poppins', sans-serif;
}

// 3 Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// 4 Utility classes
.button
{
    @apply px-5 py-2 block;
    color: variables.$light;
    background: variables.$accent;
    width: fit-content;
}

// 5 Special tag changes
h6
{
    @apply uppercase opacity-70 relative;
    left: 20px;

    &::before
    {
        content: "";
        display: block;
        position: absolute;
        top: .75rem;
        left: -20px;
        width: 15px;
        border-top: 1px solid variables.$dark;
    }
}
