/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 HTML and body styling
    2 General elements
        2.1 Tags
        2.2 Titles
        2.3 Separators
    3 Reusable sections
        3.1 Header
        3.2 Cookie consent
    4 Specific sections
        4.1 Introduction section
        4.2 About me section
        4.3 Recent projects
    5 Useless elements
 */

// 1.1 Variables
$light: #F4F4F9;
$dark: #273E47;
$accent: #3BA3A1;

// 1.2 Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// 1.3 HTML and body styling
html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: $light;
    color: $dark;
    font-family: 'Poppins', sans-serif;
}

// 2.1 Tags
h6
{
    position: relative;
    left: 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;

    &::before
    {
        content: "";
        display: block;
        position: absolute;
        top: .75rem;
        left: -20px;
        width: 15px;
        border-top: 1px solid $dark;
    }
}

// 2.2 Titles
h1
{
    margin: 0;
}

// 2.3 Separators
hr
{
    width: 8ch;
    border: none;
    border-top: 1px solid rgba($dark, .6);
}

// 3.1 Header
#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .15ch;
    text-transform: uppercase;

    div
    {
        opacity: 0;
        gap: 5ch;
        transform: translateX(3rem);
        transition: 200ms ease,
                    transform 1s cubic-bezier(0.24, -0.95, 1, 0.42);

        &.visible
        {
            opacity: 1;
            transform: none;
            transition: 200ms ease;
        }
    }

    a
    {
        color: $dark;
        text-decoration: none;
        transition: 100ms ease;
        cursor: pointer;
    }

    span
    {
        display: flex;
        cursor: pointer;

        svg
        {
            height: 2rem;
            fill: $dark;
        }
    }

    .highlighted
    {
        color: $accent;
        font-weight: 900;
    }
}

// 3.2 Cookie consent
#cookie
{
    display: flex;
    gap: 1rem;
    margin: 0;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    transition: 300ms ease;

    p { margin: 0; }

    #cookie-checkmark
    {
        width: 2rem;
        stroke: $dark;
        cursor: pointer;
    }
}

// 4.1 Introduction section
#introduction
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 75rem;
    margin-top: 3rem;

    #introduction-paragraph
    {
        width: 40ch;

        #about-me-button
        {
            padding: .6em 1.3em;
            background: $accent;
            color: $light;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
        }

        a + h6
        {
            $dark: rgba($dark, .4);

            margin-top: 3rem;
            color: $dark;

            &::before { border-color: $dark; }
        }

        #social-icons
        {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: .5rem;

            a
            {
                $accent: rgba($accent, .4);

                display: flex;
                height: 2.3rem;
                aspect-ratio: 1;
                fill: $accent;

                &#social-youtube #cutout { fill: $light; }
                &#social-graphide { stroke: $accent; }
            }
        }


    }

    img
    {
        width: 50ch;
    }

    @media (max-width: 50rem)
    {
        flex-direction: column;
    }
}

// 4.2 About me section
#about-me
{
    padding: 2ch;
    max-width: 70ch;
    text-align: center;
}

// 4.3 Recent projects
#recent-projects
{
    align-self: flex-start;

    > h2
    {
        width: 100vw;
        text-align: center;
    }

    > div
    {
        display: grid;

        > h2
        {
            width: 100vw;
            padding-right: 2rem;
            grid-column: 1;
            grid-row: 1;
            color: rgba($light, .8);
            text-align: right;
            box-sizing: border-box;
            text-shadow: rgba($dark, .3) 0 0 1rem;
        }

        .cycle
        {
            display: flex;
            position: relative;
            left: 0;
            min-height: 25rem;
            grid-column: 1;
            grid-row: 1;
            transition: 500ms ease;

            div
            {
                position: relative;
                width: 100vw;
                overflow: hidden;
                color: $light;
                text-shadow: $dark 0 0 1rem;

                img
                {
                    position: absolute;
                    width: 100%;
                    z-index: -1;
                    filter: brightness(.5);
                }

                div
                {
                    position: absolute;
                    bottom: 0;
                    padding: 2rem;

                    .date, .subject
                    {
                        opacity: .5;
                    }
                }
            }
        }
    }
}

// 5 Useless elements
#header .useless, // Fix cursor in header
.useless > * > * // Fix color in header
{
    fill: none;
    cursor: unset;
}