/* CSS TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 HTML and body styling
    2 Buttons
 */

/* 1.1 Variables */
$light: #F4F4F9;
$dark: #273E47;

$accent-blue: #3BA3A1;
$accent-orange: #E88E5A;

/* 1.2 Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 1.3 HTML and body styling */
html
{
    scroll-behavior: smooth;
}

body
{
    display: flex;
    background: $light;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

/* 2 Buttons */
a
{
    background: $accent-blue;
    color: $light;
    padding: .6em 1.3em;
    text-transform: uppercase;
    font-weight: 600;
}