/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Variables
        1.2 Fonts
        1.3 HTML and body styling
    2 General elements
        2.1 Tags
        2.2 Titles
        2.3 Separators
    3 Header
    4 Specific sections
        4.1 Introduction section
        4.2 About me section
 */

// 1.1 Variables
$light: #F4F4F9;
$dark: #273E47;
$accent: #3BA3A1;

// 1.2 Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// 1.3 HTML and body styling
html
{
    scroll-behavior: smooth;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: $light;
    color: $dark;
    font-family: 'Poppins', sans-serif;
}

// 2.1 Tags
h6
{
    position: relative;
    left: 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;

    &::before
    {
        content: "";
        display: block;
        position: absolute;
        top: .75rem;
        left: -20px;
        width: 15px;
        border-top: 1px solid $dark;
    }
}

// 2.2 Titles
h1
{
    margin: 0;
}

// 2.3 Separators
hr
{
    width: 8ch;
    border: none;
    border-top: 1px solid rgba($dark, .6);
}

// 3 Header
#header
{
    display: flex;
    gap: 5ch;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .15ch;
    text-transform: uppercase;

    a
    {
        color: $dark;
        text-decoration: none;
        transition: 100ms ease;
    }

    .highlighted
    {
        color: $accent;
        font-weight: 900;
    }
}

// 4.1 Introduction section
#introduction
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 75rem;

    #introduction-text
    {
        width: 40ch;
    }

    img
    {
        width: 50ch;
    }

    a
    {
        padding: .6em 1.3em;
        background: $accent;
        color: $light;
        text-transform: uppercase;
        font-weight: 600;
    }

    @media (max-width: 50rem)
    {
        flex-direction: column;
    }
}

// 4.2 About me section
#about-me
{
    padding: 2ch;
    max-width: 70ch;
    text-align: center;
}